#mainimg {
  background: url(../../images/models/ve24/main/1.jpg) no-repeat; }

#contentGalleryPaginator {
  width: 20px; }

#overhead {
  background-image: url(../../images/models/ve24/ve24overhead.png); }

#buildLink {
  background: url(../../images/models/ve24/buildLink.jpg) no-repeat; }

#overhead #dotAlphaZ {
  top: 270px;
  margin-left: 81px; }
#overhead #dotTouch {
  top: 175px;
  margin-left: 140px; }
#overhead #dotTAC {
  top: 440px;
  margin-left: 45px; }
#overhead #dotWalkOverTran {
  top: 400px;
  margin-left: 130px; }
#overhead #dotPcm {
  top: 413px;
  margin-left: 81px; }
#overhead #dotSidePockets {
  top: 305px;
  margin-left: 15px; }
#overhead #dotCarpet {
  top: 225px;
  margin-left: 81px; }
#overhead #dotAudio {
  top: 323px;
  margin-left: 107px; }
#overhead #dotDesign {
  top: 105px;
  margin-left: 45px; }
#overhead #dotSwimPlatform {
  top: 475px;
  margin-left: 81px; }
