#mainimg {
  background: url(../images/contact/tige-long.jpg) no-repeat;
  width: 740px;
  height: 145px; }

#brochuremainimg {
  background: url(../images/contact/brochure-long.jpg) no-repeat;
  width: 740px;
  height: 145px;
  margin-bottom: 25px; }

#formList {
  width: 506px;
  margin: 0 0 0 25px; }
  #formList li {
    margin: 0 0 15px 0;
    padding: 0 0 0 0;
    border-bottom: 1px solid rgb(175, 175, 175); }
    #formList li h3 {
      font-size: 13px;
      color: rgb(51, 51, 51); }
      #formList li h3 .more {
        font-size: 11px;
        color: rgb(0, 176, 216);
        background-image: url(../images/global/backgrounds/moreRightArrow.gif);
        background-repeat: no-repeat;
        background-position: right 2px;
        padding: 0 13px 0 0;
        cursor: pointer; }
    #formList li ul li {
      margin: 0;
      padding: 15px;
      border-bottom: none;
      background-color: rgb(242, 242, 242); }
      #formList li ul li p {
        margin: 0 0 17px 0; }
      #formList li ul li ul {
        width: 353px; }
        #formList li ul li ul li {
          padding: 0;
          clear: both; }
          #formList li ul li ul li label {
            float: left;
            width: 195px;
            text-align: right;
            margin: 0 0 10px 0;
            color: rgb(51, 51, 51); }
          #formList li ul li ul li input {
            float: right;
            width: 145px;
            margin: 0 0 10px 0; }
            #formList li ul li ul li input[type="submit"] {
              width: auto; }
            #formList li ul li ul li input[type="checkbox"] {
              width: auto;
              float: none;
              margin: 0; }
          #formList li ul li ul li.check {
            width: 145px;
            float: right;
            margin: 0 0 10px 0; }
            #formList li ul li ul li.check label {
              float: none;
              width: auto;
              text-align: left;
              color: rgb(0, 0, 0); }
          #formList li ul li ul li select {
            float: right; }
          #formList li ul li ul li.multipleInput {
            float: right; }
            #formList li ul li ul li.multipleInput label {
              float: none;
              width: auto;
              text-align: left; }
            #formList li ul li ul li.multipleInput input {
              float: none;
              width: 50px; }
          #formList li ul li ul li textarea {
            width: 145px;
            float: right;
            margin: 0 0 10px 0; }

#rightblock {
  margin: 25px 13px 0 0; }

.address li {
  color: rgb(77, 77, 77); }
.address h3 {
  background: url(../images/global/backgrounds/info.png) no-repeat;
  padding: 2px 0 6px 25px;
  color: rgb(0, 0, 0);
  border-bottom: 1px solid rgb(200, 200, 200); }
.address li .number {
  color: rgb(0, 0, 0); }
.address .electronic {
  margin: 15px 0 10px 0; }
  .address .electronic ul {
    list-style: disc inside; }

.sectionLink.right img {
  border: 1px solid rgb(200, 200, 200); }

.boxShadow {
  border: 1px solid rgb(200, 200, 200);
  -webkit-box-shadow: 1px 1px 5px rgb(100, 100, 100); }
