body {
  background-color: #333; }

#contentWrapper {
  width: 842px;
  margin: 0 auto; }

#header {
  background: #FFF;
  height: 85px;
  border-bottom: 5px solid #f60;
  width: 100%; }

#homelogo {
  position: relative;
  top: 13px;
  left: 13px;
  float: left;
  width: 199px; }
  #homelogo a {
    background-image: url(../images/global/header/logo.gif);
    width: 199px;
    height: 0;
    padding-top: 55px;
    overflow: hidden;
    display: block; }

#locator {
  float: right;
  margin: 25px 13px;
  font-family: Verdana, sans-serif;
  color: #333;
  letter-spacing: .05em;
  width: 290px;
  text-align: right; }
  #locator p {
    text-align: right; }
  #locator a {
    color: #333;
    font-size: .92em; }

#locatezip {
  width: 119px;
  height: 19px;
  color: #999;
  background: url("../images/global/backgrounds/forms/zipinput.gif") no-repeat;
  border: none;
  padding: 4px 0 0 10px; }

#locatesubmit {
  background: url("../images/global/links/go-btn.gif") 0 0 no-repeat;
  width: 36px;
  height: 22px;
  text-indent: -9999px;
  overflow: hidden;
  border: none; }

#locator form fieldset label {
  font-size: 1em;
  font-weight: bold; }

#content {
  background-color: #FFF;
  width: 741px;
  padding: 13px;
  float: right;
  clear: none;
  overflow: hidden; }

#mainimg {
  width: 740px;
  height: 350px;
  margin-bottom: 13px; }

#superFooter {
  float: right;
  width: 734px;
  padding: 33px 0 33px 33px;
  background-color: rgb(230, 230, 230); }
  #superFooter ul li {
    width: 143px;
    float: left;
    padding: 8px 0 0 40px; }
    #superFooter ul li em {
      display: block;
      font: normal 12px Verdana, sans-serif;
      color: rgb(51, 51, 51);
      margin-bottom: 5px; }

#footerPerformance {
  background: url(../images/global/footer/icons/performanceIcon.gif) top left no-repeat; }

#footerCommunity {
  background: url(../images/global/footer/icons/communityIcon.gif) top left no-repeat; }

#footerBrochure {
  background: url(../images/global/footer/icons/brochureIcon.gif) top left no-repeat; }

#footerContact {
  background: url(../images/global/footer/icons/contactIcon.gif) top left no-repeat; }

#superFooter ul li ul li {
  float: none;
  width: auto;
  padding: 0;
  background-color: transparent;
  list-style: disc inside;
  font: 10px Verdana, sans-serif; }
  #superFooter ul li ul li a {
    text-decoration: none;
    color: rgb(102, 102, 102);
    margin-left: -3px; }

.angledheaderbg {
  background-image: url(../images/global/contentheaders/headerangled.gif);
  background-repeat: no-repeat;
  background-position: -2px -0px;
  width: 238px;
  height: 8px; }

.pdfDownload {
  background: url(../images/global/backgrounds/downloadpdf.gif) right no-repeat;
  padding-right: 30px;
  font-size: 11px;
  color: #4D4D4D; }

.last {
  margin: 0px; }

.confirmation {
  padding: 10px 5px;
  background-color: #33c91f;
  color: #fcfcfc;
  font-weight: bold; }
