#mainimg {
  width: 741px;
  height: 288px;
  background-image: url(../images/performance/performance_main.jpg); }

#performanceHighlight {
  background: url(../images/performance/performance_top_bar.jpg) no-repeat; }

.sectionLeft {
  width: 549px;
  float: left;
  margin: 6px 0 0 -7px; }

#convex {
  width: 549px;
  height: 241px;
  margin: 0px 0px 8px 0px;
  background: url(../images/performance/convexv_content.jpg) no-repeat; }

#convexContent {
  margin: 0 0 0 20px;
  position: relative;
  top: 23px; }
  #convexContent h3 {
    color: rgb(26, 26, 26);
    margin-bottom: 15px; }
  #convexContent em {
    font: bold 13px/16px Helvetica, Arial, sans-serif;
    color: rgb(51, 51, 51);
    width: 177px;
    display: block;
    margin-bottom: 6px; }
  #convexContent p {
    font-size: 10px;
    line-height: 15px;
    color: rgb(77, 77, 77);
    width: 200px; }

#convexLink {
  width: 113px;
  height: 22px;
  padding: 8px 0 0 20px;
  overflow: hidden;
  display: block;
  background: url(../images/global/backgrounds/roundGrayRtArrowBg.png) no-repeat;
  color: #fff;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: left;
  margin: 18px 0 0 0px;
  position: relative;
  right: 2px; }

#cinema {
  width: 549px;
  margin: 0 0px 0 0px;
  height: 207px;
  background: url(../images/performance/performance_tigecinema.jpg) no-repeat; }
  #cinema h3 {
    margin: 23px 0 0 18px;
    float: left;
    line-height: 1.1em; }

#cinemaLink {
  width: 113px;
  height: 22px;
  padding: 8px 0 0 20px;
  overflow: hidden;
  display: block;
  background: url(../images/global/backgrounds/roundGrayRtArrowBg.png) no-repeat;
  color: #fff;
  font: bold 12px Helvetica, Arial, sans-serif;
  text-decoration: none;
  text-align: left;
  float: right;
  margin: 18px 12px 0 0; }

#cinema ul {
  margin: 8px 0 0 9px; }
  #cinema ul li {
    float: left; }
    #cinema ul li a {
      width: 228px;
      height: 66px;
      display: block;
      text-decoration: none;
      padding: 5px 27px 0 10px; }
      #cinema ul li a img {
        float: left;
        width: 85px;
        position: relative;
        top: 3px; }
      #cinema ul li a .description {
        width: 137px;
        float: right; }
        #cinema ul li a .description h3 {
          float: none;
          margin: 0;
          font-size: 13px;
          color: rgb(26, 26, 26); }
      #cinema ul li a:hover .description h3 {
        color: rgb(0, 176, 216); }
      #cinema ul li a .description p {
        font: 9px/12px Verdana, sans-serif;
        color: rgb(77, 77, 77); }

#performanceSidebar {
  margin-top: 2px;
  background: url(../images/performance/performance_side_bar_4.jpg) no-repeat; }
