@charset "UTF-8";
#mainimg {
  background: url(../images/contact/tige-long.jpg) no-repeat;
  height: 145px;
  margin-bottom: 25px; }

.sectionContent h3 {
  margin: 13px 0 13px -20px; }

.locatedblock .googleMap {
  width: 300px;
  height: 300px;
  margin: 3px 0 3px 3px; }
.locatedblock .themap img {
  display: block;
  margin: 0 auto;
  padding: 13px 0; }

#rightblock {
  float: right;
  margin-bottom: 13px;
  width: 182px; }
